{% extends 'base.html' %}
{% block title %}<title>Submit solution</title>{% endblock %}
{% block user %}
<div class="user">
    <a href="/profile/{{ user.get_username }}">{{ user.get_username }}</a>
    |
    <a href="/accounts/logout?next=/">logout</a>
</div>
{% endblock %}
{% block content %}

<h1> {{problem}} </h1>
<div class="code-submission">

    <form id="submission-form" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="file-field">
        <div class="btn btn-primary btn-sm float-left">
          {{form.file}}
        </div>
      </div>

        <div class="form-group">

          <label for="inputState">Language</label>
          {{form.lang}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="previous_submissions">
  <div class = "row">



      {% for sub in previous_submissions %}
        <div class="col-sm-3">
        {% if sub.feedback %}
          {% if sub.correct %}

            <div class="card text-center">
              <div class="card-header">
                {{sub.submission_time}}
              </div>
              <div class="card-body">
                <h5 class="card-title">CORRECT</h5>
                <p class="card-text">{{sub.feedback|linebreaks}}</p>
                <a href="#" class="btn btn-primary">View Code</a>
              </div>
              <div class="card-footer text-muted">
                Contest Submission
              </div>
            </div>
          {% else %}
            <div class="card text-center">
              <div class="card-header">
                {{sub.submission_time}}
              </div>
              <div class="card-body">
                <h5 class="card-title">WRONG</h5>
                <p class="card-text">{{sub.feedback|linebreaks}}</p>
                <a href="#" class="btn btn-primary">View Code</a>
              </div>
              <div class="card-footer text-muted">
                Contest Submission
              </div>
            </div>
          {% endif %}
        {% endif  %}
        </div>
      {% endfor %}

  </div>
</div>
{% endblock %}
