{% extends 'base.html' %}
{% block title %}<title>Submit solution</title>{% endblock %}
{% block user %}
<div class="user">
    <a href="/profile/{{ user.get_username }}">{{ user.get_username }}</a>
    |
    <a href="/accounts/logout?next=/">logout</a>
</div>
{% endblock %}
{% block content %}
<div class="problem-statement"> {{problem}} </div>
<div class="code-submission">
    <form id="submission-form" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
