{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block title %}<title>template</title>{% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
            {% block navbar %}
            <div class="sidebar-nav">
              <div class="logo"><a href="/"><img src="{% static 'tmp_logo.png' %}" /></a></div>

        <div><a href="/problem">Problems</a>  </div>
        <div><a href="/submission">Submit</a></div>
          <!-- insert default navigation text for every page -->
          {% if user.is_authenticated %}
          <div><a href="{{user.userprofile.get_absolute_url}}">{{ user.get_username }}</a></div>

          <div> <a href="/accounts/logout?next={{ request.path | urlencode }}">logout</a></div>
          {% else %}
          <div><a href="/accounts/login?next={{ request.path | urlencode }}">login</a></div>
          |
          <div><a href="/accounts/register">register</a></div>
          {% endif %}
          {% endblock %}
        </div>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-8">
        {% block message %}
        <!-- prints alerts and messages -->{% endblock %}
        {% block content %}
        <!-- default content text (typically empty) -->{% endblock %}
      </div>
      <div class="col-sm-1">
      </div>
      </div>
    </div>



      {% block footer %}
      <footer>
          Here is some info in the footer
      </footer>
      {% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>

</html>
