{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="./ style.css">
{% block content %}
<script>
    function copy(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select().createTextRange();
            document.execCommand("copy");
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
            document.execCommand("copy");
            //alert("Text has been copied, now paste in the text-area")
        }
    }
</script>
<div class="problem-header">
    <h1>{{ problem.name }}</h1>
    {% if is_author %}
    <a href="edit">Edit</a>
    {% endif %}
</div>
<div class='authors'>
    authors: {{ problem.author_string }}
</div>
<pre><div class="problem-statement">{{ problem.problem_statement }}
</div></pre>

<div class="example">
    <div>Tests:</div>
    {% for example in examples %}
    {{ example.test_suite.test_suite_description }}
    <div class="example" id="{{ example.test_suite.problem_suite_number }}-{{ example.pair_number }}">
        <div class="input">
            <div class="input-header">Input<button
                    onclick="copy('{{ example.test_suite.problem_suite_number }}-{{ example.pair_number }}-input')">Copy</button>
            </div>
            <pre><code class="input-main" id="{{ example.test_suite.problem_suite_number }}-{{ example.pair_number }}-input">{{ example.input.read.decode }}</code></pre>
        </div>
        <div class="output">
            <div class="output-header">Output<button
                    onclick="copy('{{ example.test_suite.problem_suite_number }}-{{ example.pair_number }}-output')">Copy</button>
            </div>
            <pre><code class="output-main" id="{{ example.test_suite.problem_suite_number }}-{{ example.pair_number }}-output">{{ example.output.read.decode }}</code></pre>
        </div>
    </div>
    {% endfor %}
</div>
<div class="submit">
    TODO: submission code box here
    ...
</div>
{% endblock %}
